@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #2b67ac;
  --font-body: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #23548b;
    --foreground: #ededed;
  }
}

html {
  font-family: var(--font-body);
}

body {
  background: var(--background);
  color: var(--foreground);
}
